.imageBox {
    position: relative;
    margin: auto;
    width: 256px;
    height: 6em;
}

.boat {
    position: absolute;
    opacity: 0;
    width: 8em;
    height: 6em;
    left: 0; 
    right: 0; 
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.25em;
    animation: 
        rocking 2s alternate infinite ease-in-out,
        fade 1s 1s linear forwards;
}

.waves {
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0;
    margin: auto;
    width: 256px;
    height: 51px;
}

.hiddenRect {
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: .8em;
    width: 256px;
    height: 40px;
}

.hiddenWave {
    clip-path: url(#myClip);
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin-top: .3em;
    width: 256px;
    height: 17px;
}

.dark .hiddenRect {
    background-color: rgb(8, 14, 41) !important;
}

.dark .hiddenWave {
    background-color: rgb(8, 14, 41) !important;
}

.wave {
    clip-path: url(#myClip);
    overflow: hidden;
    opacity: 0;
    animation: fade .5s .5s linear forwards;
    position: absolute;
    margin: auto;
    width: 256px;
    height: 17px;
}

.wave2 {
    margin-top: 1em;
}

.wave3 {
    margin-top: 2em;
}

.waveBox {
    width: 15.2em;
    height: 1.7em;
    background-color: hsl(203, 100%, 73%);;
    margin: auto;
}

.animOne {
    animation: wave 2s alternate infinite ease-in-out;
}

.animTwo {
    animation: waveTwo 2s alternate infinite ease-in-out;
}

@keyframes wave {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(20%);
    }
}

@keyframes waveTwo {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-20%);
    }
}

@keyframes rocking {
    0% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}