.dark {
    color: #344493 !important;
}

.recents {
    position: relative;
    border: 0;
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: .9em;
    display: flex;
    align-items: center;
    color: #a8a8a8;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.recents:hover {
    transition: all 0.3s;
    color: hsl(203, 100%, 73%) !important;
}

.arrow {
    padding: 0 0 0 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.clock {
    padding: 0 8px 0 0;
    margin-top: auto;
    margin-bottom: auto;
}

.menuBox {
    position: absolute;
    margin-top: 1em;
    margin-left: -9em;
    padding: .6em;
    width: 11em;
    display: inline-block;
    border-radius: .5em;
    border: .12em solid #ccc;
    background-color: hsl(0, 0%, 100%);
    color: #a8a8a8;
    font-size: .9em;
    font-family: 'Bahnschrift';
}

.empty {
    position: relative;
    width: 5em;
    margin-left: .3em;
    margin: auto;
}

.buttons {
    position: relative;
    margin: auto;
}

.option {
    height: 3em;
    width: 11em;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.optionContent {
    display: flex;
    margin: auto;
    text-align: center;
}

.countryText {
    width: 2em;
    height: 1.3em;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
}

.option:hover {
    transition: all 0.3s;
    color: hsl(203, 100%, 73%);
}

.option span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    outline: none;
}

.flagPlacement {
    opacity: 1;
    position: relative;
    background-color: hsl(203, 100%, 87%);
    border-radius: 50%;
    display: flex;
    height: 40px;
    width: 40px;
    margin: auto 5px;
}

.darkMenuBox .flagPlacement {
    background-color: rgb(30, 41, 93) !important;
}

.flags {
    position: absolute;
    opacity: 1;
    height: 40px;
    width: 40px;
    clip-path: circle(33%);
    overflow: hidden;
}

.option:first-child .flags {
    opacity: 0;
}

.fadeIn {
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.darkMenuBox {
    background-color: rgb(8, 14, 41) !important;
    border: .12em solid rgb(52, 68, 147) !important;
    color: rgb(52, 68, 147) !important;
}

.loader {
    position: relative;
    margin: auto;
    border: 2.5px solid hsl(203, 100%, 73%);
    border-left-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
