@font-face {
    font-family: 'Bahnscrhift';
    src: url(../../assets/bahnschrift.woff);
}

* {
    font-family: 'Bahnschrift';
}

.dark {
    background-color: rgb(8, 14, 41) !important;
}

.canvas {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.mainSection {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    height: 100%;
    width: 75%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.section {
    position: absolute;
    height: calc(100vh - 5.2em);
    margin-left: 2px;
    margin-right: 0;
    right: 0;
    margin-bottom: 0;
    bottom: 0;
    width: calc(50vw - 2px);
    background-color: transparent;
}

.banner {
    position: absolute;
    top: 0;
    margin-top: 0;
    margin-left: 0;
    left: 0;
    width: 100%;
    height: 8.7em;
    overflow: hidden;
}

.image {
    opacity: 0;
    position: absolute;
    top: 0;
    margin-top: 0;
    margin-left: 0;
    left: 0;
    filter: brightness(80%);
}

.fadeIn {
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.banner:nth-child(2) {
    margin-right: 0 !important;
    right: 0 !important;
}

.shadow {
    position: absolute;
    opacity: 80%;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 33, 52, 1) 70%);
    mix-blend-mode: darken;
}

.section:nth-child(2) {
    margin-right: 2px !important;
    margin-left: 0 !important;
    left: 0 !important;
}

.loader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a8a8a8;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    animation: loader 1.5s ease-in-out infinite;
}

.dark .loader {
    background-color: rgb(8, 14, 41);
    animation: darkLoader 1.5s ease-in-out infinite;
}

.flagLoader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 10px solid hsl(203, 100%, 73%);
    border-left-color: transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.flagDisplay {
    position: absolute;
    height: 190px;
    width: 190px;
    margin-left: 6em;
    margin-top: 1.6em;
}

.names {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 4.2em;
    width: 20em;
    left: 18em;
    top: 3.5em;
}

.nameDisplay {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    height: 2em;
    width: 20em;
}

.nameLoader {
    position: absolute;
    background-color: #a8a8a8;
    margin: auto;
    margin-left: 0;
    top: 0;
    left: 0;
    bottom: 0;
    height: 2em;
    width: 20em;
    border-radius: 5px;
    animation: loader 1.5s ease-in-out infinite;
}

.dark .nameLoader {
    background-color: #344493;
    animation: darkLoader 1.5s ease-in-out infinite;
}

.name {
    position: relative;
    opacity: 0;
    margin: auto;
    margin-left: 0;
    height: 2em;
    width: 20em;
    text-align: left;
    font-size: 2em;
    font-weight: 700;
    color: white;
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.nativeNameDisplay {
    position: relative;
    margin: auto;
    margin-left: 0;
    margin-bottom: 0;
    height: 1.5em;
    width: 18em;
}

.nativeNameLoader {
    position: absolute;
    background-color: #a8a8a8;
    margin: auto;
    margin-left: 0;
    top: 0;
    left: 0;
    bottom: 0;
    height: 1.5em;
    width: 18em;
    border-radius: 5px;
    animation: loader 1.5s ease-in-out infinite;
}

.dark .nativeNameLoader {
    background-color: #344493;
    animation: darkLoader 1.5s ease-in-out infinite;
}

.nativeName {
    position: relative;
    opacity: 0;
    margin: auto;
    margin-left: 0;
    height: 1.5em;
    width: 18em;
    text-align: left;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.dark .name {
    color: white !important;
}

.dark .nativeName {
    color: white !important;
}

.flagPlacement {
    opacity: .7;
    position: absolute;
    background-color: hsl(203, 100%, 87%);
    border-radius: 50%;
    display: flex;
    height: 160px;
    width: 160px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.dark .flagPlacement {
    background-color: rgb(30, 41, 93) !important;
}

.flags {
    position: absolute;
    left: .17em;
    right: 0;
    bottom: 0;
    top: .2em;
    opacity: 0;
    height: 185px;
    width: 185px;
    clip-path: circle(33%);
    overflow: hidden;
}

.error {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 150px;
    width: 150px;
}

.dark h3 {
    color: #344493 !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes loader {
    0% { background-color: #a8a8a8; }
    50% { background-color: #939393; }
    100% { background-color: #a8a8a8; }
}

@keyframes darkLoader {
    0% { background-color: #344493; }
    50% { background-color: #233178; }
    100% { background-color: #344493; }
}