.darkInput {
  border: #344493 !important;
  background: #2b336f !important;
  color: white;
}

.input {
    position: relative;
    display: inline-block;
    border: .12em solid #ccc;
    width: 32em;
    height: 2.5em;
    border-radius: .5em;
    padding: .5em;
    background: #ececec;
    overflow: hidden;
  }

  .input select {
    padding: 5em;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
  }

  .input select:focus {
    outline: none;
  }

  @media (max-width: 1420px) {
    .input {
      width: 28em;
    }
  }
  
  @media (max-width: 1280px) {
    .input {
      width: 24em;
    }
  }
  
  @media (max-width: 1140px) {
    .input {
      width: 20em;
    }
  }
  