@font-face {
    font-family: 'Coolvetica';
    src: url(../../assets/coolvetica-rg.woff);
}

@font-face {
    font-family: 'Bahnscrhift';
    src: url(../../assets/bahnschrift.woff);
}

.darkWhite {
    background-color: rgb(8, 14, 41) !important;
}

.darkGray {
    color: rgb(52, 68, 147) !important;
}

.canvas {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.mainSection {
    position: relative;
    margin: auto;
    height: 100vh;
    width: 75%;
    background-color: transparent;
    display: flex;
}

.textBox {
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 4em;
    width: 18em;
    display: flex;
    background-color: transparent;
}

.burgerMenuBox {
    position: absolute;
    margin-top: 6em;
    right: 0em;
    height: 3.2em;
    width: 3.5em;
    display: flex;
    background-color: transparent;
    z-index: 1;
}

.centerBox {
    position: relative;
    margin: auto;
    height: 30em;
    width: 100%;
    background-color: transparent;
    display: block;
}

.logoBanner {
    position: relative;
    width: 45em;
    height: 20em;
    margin-top: -2.8em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.logoText {
    margin-top: -2.8em;
    font-family: 'Coolvetica';
    position: relative;
    color: hsl(203, 100%, 73%);
    font-size: 1.2em;
}

.inputSection {
    position: relative;
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 8em;
    margin-top: 3em;
}

.menuOne {
    margin: auto;
    position: relative;
    align-self: center;
    left: 0;
    z-index: 1;
}

.menuTwo {
    margin: auto;
    position: relative;
    align-self: center;
    right: 0;
    z-index: 1;
}

.inputTextSection {
    position: relative;
    margin: auto;
    height: 100%;
    width: 15em;
    background-color: transparent;
    display: flex;
    z-index: 0;
}

.letsCompare {
    position: absolute;
    font-family: 'Bahnscrhift';
    font-size: 2em;
    color: #a8a8a8;
    margin-top: 0em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

h3 {
    position: relative;
    font-family: 'Bahnscrhift';
    font-size: 1.5em;
    color: #a8a8a8;
}

.and {
    margin: auto;
}

.madeBy {
    position: absolute;
    margin-top: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.smallText {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    position: relative;
    font-family: 'Bahnscrhift';
    font-size: 1.2em;
    color: #a8a8a8;
}

.compareButton {
    background-color: hsl(203, 100%, 73%);
    height: 2.2em;
    width: 9em;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 1em;
    transition: all 0.5s;
    position: relative;
    font-family: 'Bahnschrift';
    font-weight: 1000;
    font-size: 1.6em;
    outline: none;
  }

  .compareButton:hover {
    background-color: #fd777c;
    color: white;
    text-decoration: none;
    outline: none;
    transform: scale(1.06);
    box-shadow: 0 5px 15px #fd777c;
  }

  .compareButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    outline: none;
  }

