.dark {
    background-color: rgb(8, 14, 41) !important;
}

.section {
    position: absolute;
    height: calc(100vh - 5.2em);
    margin-left: 2px;
    margin-right: 0;
    right: 0;
    margin-bottom: 0;
    bottom: 0;
    width: calc(50vw - 2px);
    background-color: transparent;
}

.fadeIn {
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.section:nth-child(2) {
    margin-right: 2px !important;
    margin-left: 0 !important;
    left: 0 !important;
}

.capAndCurrLoader {
    position: relative;
    background-color: #a8a8a8;
    margin-left: 0;
    height: 1.4em;
    width: 14em;
    border-radius: 5px;
    animation: loader 1.5s ease-in-out infinite;
}

.capAndCurrLoader:first-child {
    margin-bottom: .5em;
}

.capAndCurrLoader:nth-child(2) {
    width: 16em;
}

.dark .capAndCurrLoader {
    background-color: rgb(8, 14, 41);
    animation: darkLoader 1.5s ease-in-out infinite;
}

.loader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a8a8a8;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    animation: loader 1.5s ease-in-out infinite;
}

.dark .loader {
    background-color: rgb(8, 14, 41);
    animation: darkLoader 1.5s ease-in-out infinite;
}

.flagLoader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a8a8a8;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    animation: loader 1.5s ease-in-out infinite;
}

.dark .flagLoader {
    background-color: rgb(8, 14, 41);
    animation: darkLoader 1.5s ease-in-out infinite;
}

.flagDisplay {
    position: absolute;
    height: 190px;
    width: 190px;
    margin-left: 6em;
    margin-top: 1.6em;
}

.flagPlacement {
    opacity: .7;
    position: absolute;
    background-color: hsl(203, 100%, 87%);
    border-radius: 50%;
    display: flex;
    height: 160px;
    width: 160px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.dark .flagPlacement {
    background-color: rgb(30, 41, 93) !important;
}

.flags {
    position: absolute;
    left: .17em;
    right: 0;
    bottom: 0;
    top: .2em;
    opacity: 0;
    height: 185px;
    width: 185px;
    clip-path: circle(33%);
    overflow: hidden;
}

.error {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 150px;
    width: 150px;
}

.capAndCurr {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 6em;
    width: 20em;
    left: 18em;
    top: 10em;
    row-gap: .5em;
    text-align: left;
    color: #a8a8a8;
}

.dark .capAndCurr {
    color: #344493;
}

.capital {
    position: relative;
    display: flex;
    width: 12em;
    height: 1.4em;
    font-size: 1.4em;
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.currency {
    position: relative;
    display: flex;
    width: 14em;
    height: 2.8em;
    font-size: 1.4em;
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.text {
    height: 100%;
    width: 100%;
    margin-left: 0.5em;
    margin-top: -0.08em;
    margin-bottom: 0;
}

.dark h3 {
    color: #344493 !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes loader {
    0% { background-color: #a8a8a8; }
    50% { background-color: #939393; }
    100% { background-color: #a8a8a8; }
}

@keyframes darkLoader {
    0% { background-color: #344493; }
    50% { background-color: #233178; }
    100% { background-color: #344493; }
}