.dark {
    background-color: rgb(8, 14, 41) !important;
}

.section {
    position: relative;
    z-index: 1;
    height: calc(100vh - 5.2em);
    margin-bottom: 0;
    width: calc(50vw - 2px);
    background-color: transparent;
}

.fadeIn {
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.capAndCurrLoader {
    position: relative;
    background-color: #a8a8a8;
    margin-left: 0;
    height: 1.4em;
    width: 14em;
    border-radius: 5px;
    animation: loader 1.5s ease-in-out infinite;
}

.capAndCurrLoader:first-child {
    margin-bottom: .5em;
}

.capAndCurrLoader:nth-child(2) {
    width: 16em;
}

.dark .capAndCurrLoader {
    background-color: rgb(8, 14, 41);
    animation: darkLoader 1.5s ease-in-out infinite;
}

.loader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a8a8a8;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    animation: loader 1.5s ease-in-out infinite;
}

.dark .loader {
    background-color: rgb(8, 14, 41);
    animation: darkLoader 1.5s ease-in-out infinite;
}

.flagLoader {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #a8a8a8;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    animation: loader 1.5s ease-in-out infinite;
}

.dark .flagLoader {
    background-color: rgb(8, 14, 41);
    animation: darkLoader 1.5s ease-in-out infinite;
}

.flagDisplay {
    position: absolute;
    height: 190px;
    width: 190px;
    margin-left: 6em;
    margin-top: 1.6em;
}

.flagPlacement {
    opacity: .7;
    position: absolute;
    background-color: hsl(203, 100%, 87%);
    border-radius: 50%;
    display: flex;
    height: 160px;
    width: 160px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.dark .flagPlacement {
    background-color: rgb(30, 41, 93) !important;
}

.flags {
    position: absolute;
    left: .17em;
    right: 0;
    bottom: 0;
    top: .2em;
    opacity: 0;
    height: 185px;
    width: 185px;
    clip-path: circle(33%);
    overflow: hidden;
}

.error {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 150px;
    width: 150px;
}

.capAndCurr {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 6em;
    width: 20em;
    left: 18em;
    top: 10em;
    row-gap: .5em;
    text-align: left;
    color: #a8a8a8;
}

.dark .capAndCurr {
    color: #344493;
}

.capital {
    position: relative;
    display: flex;
    width: 12em;
    height: 1.4em;
    font-size: 1.4em;
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.currency {
    position: relative;
    display: flex;
    width: 14em;
    height: 2.8em;
    font-size: 1.4em;
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.text {
    height: 100%;
    width: 100%;
    margin-left: 0.5em;
    margin-top: -0.08em;
    margin-bottom: 0;
}

.dark h3 {
    color: #344493 !important;
}

.bar {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 16.5em;
    height: 1.4em;
    width: 35em;
    border-radius: 5px;
    background-color: #ebeaea;
    overflow: hidden;
}

.dark .bar {
    background-color: #1b296e !important;
}

.timeContainer {
    width: 105%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.timePeriod {
    position: relative;
    cursor: pointer;
    height: 105%;
    width: 5.26%;
    text-align: left;
}

.timePeriod:first-child {
    width: 10.52%;
    text-align: center;
}

.timePeriod:last-child {
    width: 10.52%;
}

.timePeriod:first-child .bigMark {
    margin: auto;
}

.timePeriod:last-child .bigMark {
    margin-left: 0;
}

.bigMark {
    height: 85%;
    width: .2em;
    background-color: #a8a8a8;
    margin-top: .06em !important;
    margin-left: -.04em;
    border-radius: 2px;
}

.littleMark {
    height: 85%;
    width: .1em;
    background-color: #a8a8a8;
    margin-top: .06em;
    margin-left: 0;
    border-radius: 2px;
}

.labels {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: .5em;
    height: 1.4em;
    width: 35em;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.year {
    position: absolute;
    color: #a8a8a8;
    position: relative;
    height: 105%;
    width: 10%;
    font-size: .8em;
    text-align: center;
}

.dark .year {
    color: #344493 !important;
}

.dark .littleMark {
    background-color: #0d153a !important;
}

.dark .bigMark {
    background-color: #0d153a !important;
}

.barForPointer {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    height: 1.4em;
    width: 35em;
    border-radius: 5px;
    background-color: transparent;
}

.pointer {
    position: absolute;
    z-index: 3;
    left: 91.3%;
    animation: fade 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.pointerLabel {
    position: absolute;
    z-index: 4;
    transition: 0.5s ease-in-out;
    text-align: center;
    top: 0.6em;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

.dark .pointerLabel {
    color: black;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes loader {
    0% { background-color: #a8a8a8; }
    50% { background-color: #939393; }
    100% { background-color: #a8a8a8; }
}

@keyframes darkLoader {
    0% { background-color: #344493; }
    50% { background-color: #233178; }
    100% { background-color: #344493; }
}