@font-face {
    font-family: 'Bahnscrhift';
    src: url(../../assets/bahnschrift.woff);
}

.darkWhite {
  background-color: rgb(8, 14, 41) !important;
}

.menuDark:hover {
  background-color: rgb(30, 41, 93) !important;
}

.menu {
    width: 1.5em;
    height: 1.3em;
    padding: 1em;
    display: inline-block;
    cursor: pointer;
    border-radius: 2em;
    transition: all 0.5s;
    position: absolute;
}

  .menu:hover {
    background-color: hsl(203, 100%, 87%);
    color: white;
    text-decoration: none;
    outline: none;
  }

  .menu span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    outline: none;
  }

  .menuBox {
    margin-top: 3em;
    right: 9em;
    padding: .4em;
    width: 11em;
    display: inline-block;
    border-radius: .5em;
    border: .12em solid #ccc;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    text-align: left;
    color: #a8a8a8;
    font-family: 'Bahnschrift';
  }

  .optionText {
    margin-left: .3em;
  }

  .options {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s;
  }

  .options:hover {
    color: hsl(203, 100%, 73%);
  }

  .options span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    outline: none;
  }

  .switchBase {
    width: 2.5em;
    height: 1.5em;
    margin-left: 7.5em;
    display: inline-block;
    border-radius: 2em;
    transition: all 0.5s;
    position: absolute;
    border: .12em solid #ccc;
  }

  .switch {
    height: 1.55em;
    width: 1.5em;
    margin-left: -.05em;
    display: inline-block;
    border-radius: 2em;
    transition: all 0.5s;
    position: absolute;
    background-color: #ccc;;
  }

  .switchOn {
    transform: translateX(1.05em);
  }

  .darkOff {
    background-color: #fd777c;
  }

  .darkOn {
    background-color: hsl(203, 100%, 73%);
  }



  